* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    box-shadow: 0, 1px 5px 0 gray;
    background: #ffffff96;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar .inner-container .home, .navbar .inner-container .create {
    text-decoration: none;
}

.navbar .inner-container .home h3 {
    font-size: 36px;
    font-weight: 500px;
    color: #000;
}

.navbar .inner-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .inner-container .create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .inner-container .create .add {
    font-size: 40px;
    color: green;
}

.navbar .inner-container .create button {
    background: transparent;
    font-size: 18px;
    font-weight: 500px;
    border: none;
    cursor: pointer;
}

/* Sidebar */

.side-main {
    width: 100%;
    display: flex;
}

.side-main .main.active {
    width: calc(100% - 300px);
    margin-left: 300px;
    transition: all 1px linear;
}

.sidebar {
    width: 50px;
    height: calc(100% - 80px);
    position: fixed;
    top: 80px;
    z-index: 2;
    border-radius: 0 12px 0 0;
    background: #fff;
    box-shadow: .5px 0 5px 0 rgba(128, 128, 128, 0.492);
}

.sidebar.active {
    width: 300px;
}

.sidebar .panel {
    position: absolute;
    right: 0;
    color: gray;
    font-size: 36px;
    cursor: pointer;
    transition: all .5s linear;
}

.sidebar .panel.active {
    transform: rotateY(180deg);
    transition: all .5s linear;
    cursor: pointer;
}

.side-main .main {
    width: calc(100% - 50px);
    margin-left: 50px;
    padding: 50px 0;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: all 1px linear;
}

/* Home (Hotel List) */

.main .hotels {
    width: 100%;
    position: relative;
}

.main .hotels .inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.main .hotels .inner .hotel {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main .hotels .inner .hotel .img-container {
    max-width: 400px;
    height: 300px;
}

.main .hotels .inner .hotel img.hotel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.main .hotels .inner .hotel .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main .hotels .inner .hotel .content p {
    font-size: 22px;
    font-weight: 700px;
}

.main .hotels .inner .hotel .content p span {
    font-size: 18px;
    font-weight: 500px;
    color: #000000a2
}

.main .hotels .inner .hotel .content .city-country {
    display: flex;
    gap: 30px;
}

.main .hotels .inner .hotel .content .view-map {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.main .hotels .inner .hotel .content .view-map span {
    font-size: 26px;
}

.main .hotels .inner .hotel .content .edit-delete {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main .hotels .inner .hotel .content .edit-delete .link {
    text-decoration: none;
}

.main .hotels .inner .hotel .content .edit-delete .edit {
    color: blue;
    padding: 5px;
    border: .5px solid blue
}

.main .hotels .inner .hotel .content .edit-delete .delete {
    color: red;
    cursor: pointer;
    padding: 5px;
    border: .5px solid red

}
/* Create-Edit Form */

.main .create-edit {
    width: 100%;
}

.main .create-edit .create-edit-form {
    width: 90%;
    margin: 0 auto;
}

.main .create-edit .create-edit-form h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main .create-edit .create-edit-form .form {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.main .create-edit .create-edit-form .form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .create-edit .create-edit-form .form .input label {
    text-transform: uppercase;
}

.main .create-edit .create-edit-form .form .input input {
    width: 90%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    border: .5px solid rgba(128, 128, 128, 0.766);
}

.main .create-edit .create-edit-form .form .input input.img {
    width: 250px;
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

.main .create-edit .create-edit-form .form button {
    width: 150px;
    height: 44px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: -30px;
    right: 70px;
    cursor: pointer;
}

.main .create-edit .create-edit-form .form button:hover {
    transform: scale(1.05)
}

@media screen and (max-width: 1150px) {
    .main .hotels .inner .hotel {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .main .hotels .inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main .hotels .inner .hotel {
        width: 350px;
        flex-direction: column;
        box-shadow: .5px .5px 5px 0 gray;
        padding: 10px;
        border-radius: 15px;
    }

    .main .hotels .inner .hotel .content {
        width: 100%;
    }

    .main .hotels .inner .hotel .content p {
        font-size: 18px;
    }

    .main .hotels .inner .hotel .content p span {
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    .main .create-edit .create-edit-form .form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbar .inner-container .home h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .main .create-edit .create-edit-form .form button {
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 0%)
    }
}

@media screen and (max-width: 450px) {
    .navbar .inner-container .create {
        gap: 0;
    }

    .navbar .inner-container .create button {
        display: none;
    }

    .side-main {
        width: 100%;
        display: flex;
    }

    .side-main .main {
        width: calc(100% -50px);
        margin-left: 0px;
        padding: 50px 0;
        position: absolute;
        top: 80px;
        right: 0;
        transition: all 1px linear;
    }
}